<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>
<form action="/search" method="post">
{% csrf_token %}
<input type="text" name="q" />
<input type="submit" />
</form>

    {% block mainbody %}
       <p>original</p>
    {% endblock %}
<form action="/search" method="post">
{% csrf_token %}
<input type="submit" name="pre_page" value="上一页"/>
<input type="submit" name="next_page" value="下一页"/>
</form>

<p>{{ message }}</p>
<br />

<p>id: {{ record.id  | safe }} </p>
{% if record.rh_ylw_id != null and record.rh_ylw_id != '-' %}
<p>rh_ylw_id: {{ record.rh_ylw_id  | safe }} </p>
{% endif %}

{% if record.rh_name != null and record.rh_name != '-' %}
<p>rh_name: {{ record.rh_name | safe }} </p>
{% endif %}

{% if record.rh_phone != null and record.rh_phone != '-' %}
<p>rh_phone: {{ record.rh_phone | safe }} </p>
{% endif %}

{% if record.rh_mobile != null and record.rh_mobile != '-' %}
<p>rh_mobile: {{ record.rh_mobile | safe }} </p>
{% endif %}

{% if record.rh_email != null and record.rh_email != '-' %}
<p>rh_email: {{ record.rh_email | safe }} </p>
{% endif %}

{% if record.rh_postcode != null and record.rh_postcode != '-' %}
<p>rh_postcode: {{ record.rh_postcode | safe }} </p>
{% endif %}

{% if record.rh_name != null and record.rh_name != '-' %}
<p>rh_location_id: {{ record.rh_location_id | safe }} </p>
{% endif %}

{% if record.rh_type != null and record.rh_type != '-' %}
<p>rh_type: {{ record.rh_type | safe }} </p>
{% endif %}

{% if record.rh_factory_property != null and record.rh_factory_property != '-' %}
<p>rh_factory_property: {{ record.rh_factory_property | safe }} </p>
{% endif %}

{% if record.rh_person_in_charge != null and record.rh_person_in_charge != '-' %}
<p>rh_person_in_charge: {{ record.rh_person_in_charge | safe }} </p>
{% endif %}

{% if record.rh_establishment_time != null and record.rh_establishment_time != '-' %}
<p>rh_establishment_time: {{ record.rh_establishment_time | safe }} </p>
{% endif %}

{% if record.rh_floor_surface != null and record.rh_floor_surface != '-' %}
<p>rh_floor_surface: {{ record.rh_floor_surface | safe }} </p>
{% endif %}

{% if record.rh_building_area != null and record.rh_building_area != '-' %}
<p>rh_building_area: {{ record.rh_building_area | safe }} </p>
{% endif %}

{% if record.rh_bednum != null and record.rh_bednum != '-' %}
<p>rh_bednum: {{ record.rh_bednum | safe }} </p>
{% endif %}

{% if record.rh_staff_num != null and record.rh_staff_num != '-' %}
<p>rh_staff_num: {{ record.rh_staff_num | safe }} </p>
{% endif %}

{% if record.rh_for_persons != null and record.rh_for_persons != '-' %}
<p>rh_for_persons: {{ record.rh_for_persons | safe }} </p>
{% endif %}

{% if record.rh_charges_extent != null and record.rh_charges_extent != '-' %}
<p>rh_charges_extent: {{ record.rh_charges_extent | safe }} </p>
{% endif %}

{% if record.rh_special_services != null and record.rh_special_services != '-' %}
<p>rh_special_services: {{ record.rh_special_services | safe }} </p>
{% endif %}

{% if record.rh_contact_person != null and record.rh_contact_person != '-' %}
<p>rh_contact_person: {{ record.rh_contact_person | safe }} </p>
{% endif %}

{% if record.rh_address != null and record.rh_address != '-' %}
<p>rh_address: {{ record.rh_address | safe }} </p>
{% endif %}

{% if record.rh_url != null and record.rh_url != '-' %}
<p>rh_url: {{ record.rh_url | safe }} </p>
{% endif %}

{% if record.rh_transportation != null and record.rh_transportation != '-' %}
<p>rh_transportation: {{ record.rh_transportation | safe }} </p>
{% endif %}

{% if record.rh_inst_intro != null and record.rh_inst_intro != '-' %}
<p>rh_inst_intro: {{ record.rh_inst_intro | safe }} </p>
{% endif %}

{% if record.rh_inst_charge != null and record.rh_inst_charge != '-' %}
<p>rh_inst_charge: {{ record.rh_inst_charge | safe }} </p>
{% endif %}

{% if record.rh_facilities != null and record.rh_facilities != '-' %}
<p>rh_facilities: {{ record.rh_facilities | safe }} </p>
{% endif %}

{% if record.rh_service_content != null and record.rh_service_content != '-' %}
<p>rh_service_content: {{ record.rh_service_content | safe }} </p>
{% endif %}

{% if record.rh_inst_notes != null and record.rh_inst_notes != '-' %}
<p>rh_inst_notes: {{ record.rh_inst_notes | safe }} </p>
{% endif %}

<p> -------------------------- </p>
<p> -------------------------- </p>

</body>
</html>
