<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>详细信息</title>
   <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
   <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>

.opt_bar{position:absolute;right:1.125rem;bottom:1rem;text-align:justify;height:1.25rem;line-height:1.25rem;padding:0 .5625rem;background-color:rgba(0,0,0,.5);border-radius:1.25rem;font-size:.8125rem}

.title_font {
  font-size: 1.3em;
}
.chief_border {
    border-style: solid;
    border-width: 1px 0px;
}

.chief_border_1 {
    border-style: solid;
    border-width: 0px 1px;
}

.items_title {
  margin: .2px;
}

.items_detail {
  margin: .4px;
}
.item_detail {
  margin: 10px;
}

.carousel_image {
  width: 100%;
  height: 20em;
  overflow: hidden;
}


</style>
<body>

<div class="container">
   <div class="row">
      <div class="col-xs-3 col-sm-3 text-left">
        <div class="">
            <a href="javascript:history.back();" class="header_back">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
          <a href="/city/" class="city_wrap">
            <span class="switch_city"><em class="city">北京</em><i class="icon_pull"></i></span>
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 text-center">
        <img width="100" height="30" src="https://img1.gtimg.com/rcdimg/20180419/15/7610496475_966x604.jpg">
      </div>
      <!--div class="col-xs-3 col-sm-3">
        <button type="button" class="btn btn-primary">Login</button>
      </div-->
      <div class="col-xs-3 col-sm-3 text-right">
        <span class="btn btn-default btn-md glyphicon glyphicon-user"></span>
      </div>

      <!--div class="col-xs-3 col-sm-6">
         <button type="button" class="btn btn-primary">Menu</button>
      </div-->
  </div><!--row-->


<div>message: <p><em>{{ message | safe }}</em></p></div>
  <div>user_name: <p>{{ user_name }}<p></div>
  <div>session_key: <p>{{ session_key }}<p></div>

  <div class="row text-center">
  <div id="myCarousel" class="container carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
      <div class="item active carousel_image">
        <img src="{{ record.rh_title_image | safe }}" class="carousel_image" alt="First slide">
        <div class="carousel-caption">标题 1</div>
      </div>
      <div class="item">
        <img src="https://img1.gtimg.com/rcdimg/20180419/15/7610496475_966x604.jpg" alt="First slide">
        <div class="carousel-caption">标题 2</div>
      </div>
      <div class="item">
        <img src="https://img1.gtimg.com/rcdimg/20180419/15/7610496475_966x604.jpg" alt="First slide">
        <div class="carousel-caption">标题 3</div>
      </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      <div class="opt_bar">
        <a>1/7</a>
      </div>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div><!--row-->
</div><!--container-->


<div class="container" style="margin: 5px">
  <div class="row text-center">
    <h3>{{ record.rh_name | safe }}</h3>
  </div>

  <div class="chief_border row">
     <div class="col-xs-4 col-sm-4 chief_border_1">
        <p>价格</p>
        <strong class="title_font ">{{ record.rh_charges_extent | safe }}</strong>
     </div>
     <div class="col-xs-4 col-sm-4 chief_border_1">
        <p>床位数</p>
        <strong class="title_font">{{ record.rh_bednum | safe }}</strong>
     </div>
     <div class="col-xs-4 col-sm-4 chief_border_1">
        <p>性质</p>
        <strong class="title_font">{{ record.rh_factory_property | safe }}</strong>
     </div>
  </div>
  <div class="row">
    <div class="items_title">
      <div class="items_detail basic_info">
        <strong class="title_font ">基本信息</strong>
        <div class="item_detail">id：<span>{{ record.id | safe }}</span></div>
        <div class="item_detail">ylw_id：<span>{{ record.rh_ylw_id | safe }}</span></div>
        <div class="item_detail">机构名称：<span>{{ record.rh_name | safe }}</span></div>
        <div class="item_detail">成立时间：<span>{{ record.rh_establishment_time | safe }}</span></div>
        <div class="item_detail">床位数量：<span>{{ record.rh_bednum | safe }}</span></div>
        <div class="item_detail">收费区间：<span>{{ record.rh_charges_extent | safe }}</span></div>
        <div class="item_detail">员工人数：<span>{{ record.rh_staff_num | safe }}</span></div>
        <div class="item_detail">机构性质：<span>{{ record.rh_factory_property | safe }}</span></div>
        <div class="item_detail">机构类型：<span>{{ record.rh_type | safe }}</span></div>
      </div><!--basic_info-->
      <div class="items_detail contact_info">
        <strong class="title_font">联系信息</strong>
        <div class="item_detail">联系人  ：<span>{{ record.rh_contact_person | safe }}</span></div>
        <div class="item_detail">所在地区：<span>{{ record.rh_location_id | safe }}</span></div>
        <div class="item_detail">固定电话：<span>{{ record.rh_phone | safe }}</span></div>
        <div class="item_detail">手机号码：<span>{{ record.rh_mobile | safe }}</span></div>
        <div class="item_detail">官方网址：<span>{{ record.rh_url | safe }}</span></div>
        <div class="item_detail">电子邮箱：<span>{{ record.rh_email | safe }}</span></div>
        <div class="item_detail">邮政编码：<span>{{ record.rh_postcode | safe }}</span></div>
        <div class="item_detail">联系地址：<span>{{ record.rh_address | safe }}</span></div>
      </div><!--contact_info-->
      <div class="items_detail introduction_info">
        <strong class="title_font">机构介绍</strong>
        <div class="item_detail">{{ record.rh_inst_intro | safe }}</div>
      </div><!--introduction_info-->
      <div class="items_detail facilities_info">
        <strong class="title_font">环境设施</strong>
        <div class="item_detail">{{ record.rh_facilities | safe }}</div>
      </div><!--facilities_info-->
      <div class="items_detail for_persons_info">
        <strong class="title_font">服务对象</strong>
        <div class="item_detail">{{ record.rh_for_persons | safe }}</div>
      </div><!--for_persons_info-->
      <div class="items_detail inst_notes_info">
        <strong class="title_font">入住须知</strong>
        <div class="item_detail">{{ record.rh_inst_notes | safe }}</div>
      </div><!--inst_notes_info-->
      <div class="items_detail inst_charge_info">
        <strong class="title_font">收费标准</strong>
        <div class="item_detail">{{ record.rh_inst_charge | safe }}</div>
      </div><!--inst_charge_info-->
      <div class="items_detail transportation_info">
        <strong class="title_font">交通信息</strong>
        <div class="item_detail">{{ record.rh_transportation | safe }}</div>
      </div><!--transportation_info-->
      <div class="items_detail photos_info">
        <strong class="title_font">图片展示</strong>
        {% for i in images %}
        <div class="item_detail"><img width="300" height="300" src="/static/images/{{ record.id | safe }}/{{ i | safe }}"> </img></div>
        {% endfor %}
      </div><!--photos_info-->

  </div><!--row-->
</div>



</body>
</html>
