<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>最全养老院养老机构查询</title>
   <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
   <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="/static/js/forbidden_post.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=ToUeFuUgQI5NS2sNxWVcsz23UEiMkskj"></script>

   <link rel="stylesheet" href="/static/css/index.css">
   <!--script src="/static/js/index.js"></script-->
<style>
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: none;
}

.mask_text_color {
  color: #fff;
}

.block-color-bar {
  background-color: #dedef8;
}

.block-color-bar:hover {
  background-color: #ccccff;
}

.block-color:hover {
  background-color: #ccccff;
}


.selected-item {
  background-color: #0000ff;
}

.unselect-item {
  background-color: pink;
}

.unselect-page-idx {
  color: #000000;
  padding: 1em;
  font-size: 18px;
}

.selected-page-idx {
  color: #0000ff;
  padding: 1em;
  font-size: 18px;
}

.page-list {
  list-style-type: none;
  color: #0000ff;
}

.unselect-item {
  text-color: pink;
}

.list_item {
  border-bottom:1px solid #e5e5e5;
  margin: 8px 0px;
  padding: 0px;
}
.list_ul {
  border-bottom:1px solid #e5e5e5;
  margin: 8px 0px;
  padding: 0px;
  list-style: none;
}

.stick_fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

.occupy {
  vertical-align: baseline;
}


.city_select_mask {
  background-color: #000000;
  opacity: 0.8;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
}

.city_select_panel_2 {
  background-color: #eeeeee;
  z-index: 999;
  width: 100%;
  height: 50%;
}

.city_select_panel {
  margin: .8em;
}

.city_select_title {
  color: #fff;
}

/*should the same as city_select_item*/
.city_selected_item {
  background-color: #888;
}

.city_unselect_item {
  background-color: #fff;
}
.city_select_item {
  width: 49%;
  height: 2.25rem;
  margin-top: .4em;
  margin-bottom: .4em;
  margin-left: .1em;
  margin-right: .1em;
}

.city_list {
  height: 20em;
  overflow: auto;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}


body {
  margin-left: 0.12em;
  margin-right: 0.12em;
}
.header_back {
  padding: .6em .3em .3em .3em;
}

.header_icon {
  padding: .3em;
}

.switch_city {
  display: none;
}

</style>

</head>
<body>
<!--div>message: <p><em>{{ message | safe }}</em></p></div>
<div>curr_privince: <p><em>{{ curr_privince | safe }}</em></p></div-->
<div class="container">
  <div class="row">
    <div class="col-xs-3 col-sm-3 header_back">
      <div class="">
        <a href="javascript:history.back();">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <span id="start_city_select" class="switch_city"><em id="all_privince">全国</em><em id="curr_privince">{{ curr_privince | safe }}</em><em id="curr_city">{{ curr_city | safe }}</em><em id="curr_area">{{ curr_area | safe }}</em><i class="icon_pull"></i></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 text-center header_icon">
      <img width="100" height="30" src="https://img1.gtimg.com/rcdimg/20180419/15/7610496475_966x604.jpg">
    </div>
    <div class="col-xs-3 col-sm-3 text-right header_icon">
      <span class="btn btn-default btn-md glyphicon glyphicon-user"></span>
    </div>
  </div>
</div>

<div class="container city_select_mask" id="city_select" style="display: none">
  <div class="row city_select_panel mask_text_color">
      <div class="col-xs-6 col-sm-6">
        <a href="javascript:history.back();" class="mask_text_color">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
  </div>
  <div class="row city_select_panel">
    <div class="city_select_title">热门城市</div>
  </div>
  <div class="row city_select_panel">
    <div class="city_select_panel_2">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center privince_level_city city_unselect_item city_select_item">北京市</div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center privince_level_city city_unselect_item city_select_item">上海市</div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center privince_level_city city_unselect_item city_select_item">天津市</div>
    </div>
  </div>
  <div class="row city_select_panel">
    <div class="city_select_title">选择区域:
      <span id="all_coutry">全国</span><span id="privince_selected_seperator"></span><span id="privince_selected"></span><span id="city_selected_seperator"></span><span id="city_selected"></span><span id="area_selected_seperator"></span><span id="area_selected"></span>
    </div>
  </div>
  <div class="city_list" id="city_list">
  </div>
  <div class="row city_select_panel mask_text_color">
      <div class="col-xs-4 col-sm-4 text-center" id="return_city_select">返回</div>
      <div class="col-xs-4 col-sm-4 text-center" id="reset_city_select">重置</div>
      <div class="col-xs-4 col-sm-4 text-center" id="confirm_city_select">确认</div>
  </div>
</div>
<div id="myCarousel" class="container carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators" id="carousel_ol">
        <!--li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li-->
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner" id="carousel_img">
        <!--div class="item active">
            <a href="http://www.baidu.com">
            <img src="https://img1.gtimg.com/rcdimg/20180419/15/7610496475_966x604.jpg">
            <div class="carousel-caption">标题 1</div>
            </a>
        </div>
        <div class="item">
            <a href="http://www.baidu.com">
            <img src="https://img1.gtimg.com/rcdimg/20180419/15/7610496475_966x604.jpg">
            <div class="carousel-caption">标题 2</div>
            </a>
        </div>
        <div class="item">
            <a href="http://www.baidu.com">
            <img src="https://img1.gtimg.com/rcdimg/20180419/15/7610496475_966x604.jpg">
            <div class="carousel-caption">标题 3</div>
            </a>
        </div-->
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container" id="rh_list_title_bar">
	<div class="row visible-on">
		<div class="col-xs-3 col-sm-3 text-center" style="background-color: #dedef8;">
      <a data-toggle="collapse" data-parent="#rh_list_title_bar" href="#rh-exchange">
        <h5 id="select_price_title">价格<span class="glyphicon glyphicon-triangle-bottom"></span></h5>
      </a>
		</div>
		<div class="col-xs-3 col-sm-3 text-center classify-div" style="background-color: #dedef8;">
      <a data-toggle="collapse" data-parent="#rh_list_title_bar" href="#rh-bed-num">
        <h5 id="select_bednum_title">床位数<span class="glyphicon glyphicon-triangle-bottom"></span></h5>
      </a>
		</div>
		<div class="col-xs-3 col-sm-3 text-center" style="background-color: #dedef8;">
      <a data-toggle="collapse" data-parent="#rh_list_title_bar" href="#rh-type">
        <h5 id="select_type_title">类型<span class="glyphicon glyphicon-triangle-bottom"></span></h5>
      </a>
		</div>
		<div class="col-xs-3 col-sm-3 text-center" style="background-color: #dedef8;">
      <a data-toggle="collapse" data-parent="#rh_list_title_bar" href="#rh-prop">
        <h5 id="select_prop_title">性质<span class="glyphicon glyphicon-triangle-bottom"></span></h5>
      </a>
		</div>
	</div>

	<div class="row visible-on collapse" id="rh-exchange">
    <ul class="list-group text-center" id="priceList">
      <li class="list-group-item selected-item" data-index="0">不限</li>
      <li class="list-group-item unselect-item" data-index="1">1000以下</li>
      <li class="list-group-item unselect-item" data-index="2">1000-2000</li>
      <li class="list-group-item unselect-item" data-index="3">2000-3000</li>
      <li class="list-group-item unselect-item" data-index="4">3000-5000</li>
      <li class="list-group-item unselect-item" data-index="5">5000-10000</li>
      <li class="list-group-item unselect-item" data-index="6">10000以上</li>
    </ul>
	</div>

	<div class="row visible-on collapse" id="rh-bed-num">
    <ul class="list-group text-center" id="bedList">
      <li class="list-group-item selected-item" data-index="0">不限</li>
      <li class="list-group-item unselect-item" data-index="1">50以下</li>
      <li class="list-group-item unselect-item" data-index="2">50-100</li>
      <li class="list-group-item unselect-item" data-index="3">100-200</li>
      <li class="list-group-item unselect-item" data-index="4">200-300</li>
      <li class="list-group-item unselect-item" data-index="5">300-500</li>
      <li class="list-group-item unselect-item" data-index="6">500以上</li>
    </ul>
	</div>

	<div class="row visible-on collapse" id="rh-type">
    <ul class="list-group text-center" id="typeList">
      <li class="list-group-item selected-item" data-index="0">不限</li>
      <li class="list-group-item unselect-item" data-index="1">老年公寓</li>
      <li class="list-group-item unselect-item" data-index="2">养老照料中心</li>
      <li class="list-group-item unselect-item" data-index="3">护理院</li>
      <li class="list-group-item unselect-item" data-index="4">其他</li>
    </ul>
	</div>

	<div class="row visible-on collapse" id="rh-prop">
    <ul class="list-group text-center" id="propList">
      <li class="list-group-item selected-item" data-index="0">不限</li>
      <li class="list-group-item unselect-item" data-index="1">国营机构</li>
      <li class="list-group-item unselect-item" data-index="2">民营机构</li>
      <li class="list-group-item unselect-item" data-index="3">公办民营</li>
      <li class="list-group-item unselect-item" data-index="4">其他</li>
    </ul>
	</div>
</div>

<div class="container" id="rh_list">
	<div class="row">
  <ul class="list_ul">
    {% for record in records %}
    <li class="list_item block-color">
    <a class="media" href="rhdetail?rhid={{ record.id | safe }}">
      <div class="media-left">
        <!--img class="media-object" width="100" height="100*0.618" src="https://img1.gtimg.com/rcdimg/20180419/15/7610496475_966x604.jpg"-->
        <img id="rh_thumb" class="media-object" width="100" height="75" src="{{ record.rh_title_image }}" alt="无图">
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ record.rh_name | safe }}</h4>
        <div>
          <small>地址：{{ record.rh_location_id | safe }}</small>
        </div>
        <div>
          <small>床位数：{{ record.rh_bednum | safe }}</small>
        </div>
        <div>
          <small>收费：{{ record.rh_charges_extent | safe }}</small>
        </div>
      </div>
    </a>
    </li>
    {% endfor %}


  </ul>
	</div>

	<div class="row text-center">
    <div class="page-list" id="page-idx">
      <!--span>&laquo;</span>
      <span class="selected-page-idx" data-page-index="1">1</span>
      <span class="unselect-page-idx" data-page-index="2">2</span>
      <span class="unselect-page-idx" data-page-index="3">3</span>
      <span class="unselect-page-idx" data-page-index="4">4</span>
      <span class="unselect-page-idx" data-page-index="5">5</span>
      <span>&raquo;</span-->
    </div>
	</div>

</div>

<script type="text/javascript">
$(function() {
function initCarousel() {
  var content_html = "";
  var ol_html = "";
  var is_active = "";
  var record = {{ head_three_record | safe }};
  var len_carousel = Math.min({{ record_num | safe }}, 3);
  for (i = 0; i < len_carousel; i++) {
    if (i == 0) {
      is_active = "active";
    } else {
      is_active = "";
    }
    ol_html += "<li data-target=\"#myCarousel\" data-slide-to=\"" + i + "\" class=\""+ is_active + "\"></li>";
    content_html += "<div class=\"item " +  is_active + "\">\
                     <a href=\"" + "/rhdetail?rhid=" + record[i]['rh_id'] + "\">\
                     <img src=\"" + record[i]['rh_title_image'] + "\">\
                     <div class=\"carousel-caption\">" + record[i]['rh_name']  + "</div>\
                     </a>\
                     </div>";
  }

  $("#carousel_ol").html(ol_html)
  $("#carousel_img").html(content_html)
}
initCarousel();

var curr_privince = ""
var curr_city = ""
var curr_area = ""
// updatePagesIdx
function updatePagesIdx() {
  var str_all_page_list = ""
  var page_num = parseInt({{ page_num | safe }});
  var curr_page = parseInt({{ curr_page | safe }});
  var start_page = 0;
  var end_page = 0;
  var pages_per_web_page = 5;
  var middle_of_pages = parseInt(pages_per_web_page / 2);
  if (page_num <= pages_per_web_page) {
    start_page = 1;
    end_page = page_num;
  } else if (curr_page <= middle_of_pages) {
    start_page = 1;
    end_page = pages_per_web_page;
  } else if (page_num - curr_page <= middle_of_pages) {
    start_page = page_num - pages_per_web_page + 1;
    end_page = page_num;
  } else {
    start_page = curr_page - middle_of_pages;
    end_page = curr_page - middle_of_pages + pages_per_web_page - 1;
  }

  if (start_page > 1) {
    str_all_page_list = str_all_page_list + "<span id=\"prev_page\">&laquo;</span>";
  }
  for (i = start_page; i <= end_page; i++) {
    str_all_page_list = str_all_page_list + "<span data-page-index=\"" + i + "\">" + i + "</span>";
  }
  if (end_page < page_num) {
    str_all_page_list = str_all_page_list + "<span id=\"next_page\">&raquo;</span>";
  }
  $("#page-idx").html(str_all_page_list);

  $("[data-page-index]").removeClass("selected-page-idx");
  $("[data-page-index]").removeClass("unselect-page-idx");
  $("[data-page-index]").addClass("unselect-page-idx");
  $("#page-idx").children("[data-page-index=\"{{ curr_page | safe }}\"]").removeClass("unselect-page-idx");
  $("#page-idx").children("[data-page-index=\"{{ curr_page | safe }}\"]").addClass("selected-page-idx");
}
updatePagesIdx();

function updateFilterItem() {
  $("[data-index]").removeClass("unselect-item");
  $("[data-index]").removeClass("selected-item");
  $("[data-index]").addClass("unselect-item");

  $("#priceList").children("[data-index={{ curr_price | safe }}]").removeClass("unselect-item");
  $("#priceList").children("[data-index={{ curr_price | safe }}]").addClass("selected-item");

  $("#bedList").children("[data-index={{ curr_bednum | safe }}]").removeClass("unselect-item");
  $("#bedList").children("[data-index={{ curr_bednum | safe }}]").addClass("selected-item");

  $("#typeList").children("[data-index={{ curr_type | safe }}]").removeClass("unselect-item");
  $("#typeList").children("[data-index={{ curr_type | safe }}]").addClass("selected-item");

  $("#propList").children("[data-index={{ curr_prop | safe }}]").removeClass("unselect-item");
  $("#propList").children("[data-index={{ curr_prop | safe }}]").addClass("selected-item");


  var down_button = "<span class=\"glyphicon glyphicon-triangle-bottom\"></span>"

  if ({{ curr_price | safe }} != "0") {
    var curr_price_item = $("#priceList").children("[data-index={{ curr_price | safe }}]").html();
    $("#select_price_title").html(curr_price_item + down_button);
  }

  if ({{ curr_bednum | safe }} != "0") {
    var curr_bednum_item = $("#bedList").children("[data-index={{ curr_bednum | safe }}]").html();
    $("#select_bednum_title").html(curr_bednum_item + down_button);
  }

  if ({{ curr_type | safe }} != "0") {
    var curr_type_item = $("#typeList").children("[data-index={{ curr_type | safe }}]").html();
    $("#select_type_title").html(curr_type_item + down_button);
  }

  if ({{ curr_prop | safe }} != "0") {
    var curr_prop_item = $("#propList").children("[data-index={{ curr_prop | safe }}]").html();
    $("#select_prop_title").html(curr_prop_item + down_button);
  }
}
updateFilterItem();

// ======================================

var host = "/rhlist";

function spyObject(spyElement, stickClass, brother, stickFunc) {
  var spyOffset = function() {
    if ($(spyElement).length != 1) {
      console.error("Selector [" + spyElement + "] count != 1");
      return;
    }
    var h = $(spyElement).outerHeight();
    // var s = $('<div class="occupy" style="display: none; height: '+ offset.height +'px">');
    var s = $('<div class="occupy" style="display: none; height: '+ h +'px">');
    var inserted = false;
    if (!inserted) {
      if ($(spyElement).next().length != 0) {
        s.insertBefore($(spyElement).next());
      } else {
        s.appendTo($(spyElement).parent());
      }
      inserted = true;
    }
    var onViewScroll = function() {
      var offset = $(spyElement).offset()
      var offsetWindow = (document.body.scrollTop || document.documentElement.scrollTop);
      var h = $(spyElement).outerHeight();
      var offset0 = $(brother).offset();
      if (offset0.top - h < offsetWindow) {
        $(spyElement).addClass(stickClass);
        $(".occupy").css("display","block");
        // if (stickFunc != None)
      } else {
        $(spyElement).removeClass(stickClass);
        $(".occupy").css("display","none");
        // if (stickFunc != None)
      }
    }
    $(window).scroll(onViewScroll);
    $("body").on("touchmove", onViewScroll);
    // offset 
  }
  return {
    init: spyOffset,
    reset: function() {
      $(spyElement).removeClass(stickClass);
      $(".occupy").css("display","none");
    },
    destroy: function() {
      $(window).off("scroll", onViewScroll);
    },
  }
}

function onRhListRequestShow(need_page_idx_query) {
  var url = host;
  var query = "";
  var hasQuery = false;

  // select area
  privinceSelected = $("#curr_privince").text();
  citySelected = $("#curr_city").text();
  areaSelected = $("#curr_area").text();

  if (privinceSelected.length != 0) {
    if (hasQuery) {
      query = query + "&"
    }
    query = query + "prov=" + privinceSelected;
    hasQuery = true;
  }

  if (citySelected.length != 0) {
    if (hasQuery) {
      query = query + "&"
    }
    query = query + "city=" + citySelected;
    hasQuery = true;
  }

  if (areaSelected.length != 0) {
    if (hasQuery) {
      query = query + "&"
    }
    query = query + "area=" + areaSelected;
    hasQuery = true;
  }

  // select price, bednum, type, property, etc.
  priceSelected = $("#priceList").children(".selected-item").attr("data-index");
  bedSelected = $("#bedList").children(".selected-item").attr("data-index");
  typeSelected = $("#typeList").children(".selected-item").attr("data-index");
  propSelected = $("#propList").children(".selected-item").attr("data-index");
  if (need_page_idx_query) {
      pageSelected = $("#page-idx").children(".selected-page-idx").attr("data-page-index");
  }

  if (priceSelected != "0") {
    if (hasQuery) {
      query = query + "&"
    }
    query = query + "price=" + priceSelected;
    hasQuery = true;
  }
  if (bedSelected != "0") {
    if (hasQuery) {
      query = query + "&"
    }
    query = query + "bed=" + bedSelected;
    hasQuery = true;
  }
  if (typeSelected != "0") {
    if (hasQuery) {
      query = query + "&"
    }
    query = query + "type=" + typeSelected;
    hasQuery = true;
  }
  if (propSelected != "0") {
    if (hasQuery) {
      query = query + "&"
    }
    query = query + "prop=" + propSelected;
    hasQuery = true;
  }

  if (need_page_idx_query && pageSelected != "1") {
      if (hasQuery) {
          query = query + "&"
      }
      query = query + "page=" + pageSelected;
      hasQuery = true;
  }

  if (query != undefined && query.length > 0) {
    url = url + "?" + query;
  }

  window.location.href = url;
}

$(".unselect-item").click(function(e) {
  targetElem = $(e.target);
  var selectedElem = targetElem.siblings(".selected-item")
  if (selectedElem.length != 1 || targetElem.length != 1) {
      console.error("Selector [ .selected-item ] or click target : count != 1");
  }
  selectedElem.removeClass("selected-item");
  selectedElem.addClass("unselect-item");
  targetElem.removeClass("unselect-item");
  targetElem.addClass("selected-item");

  targetElem.parent().parent().collapse('hide');
  //$('#identifier').collapse('hide');

  onRhListRequestShow(false);
});

$(".unselect-page-idx").click(function(e) {
  targetElem = $(e.target);
  var selectedElem = targetElem.siblings(".selected-page-idx")
  if (selectedElem.length != 1 || targetElem.length != 1) {
      console.error("Selector [ .selected-page-idx ] or click target : count != 1");
  }
  selectedElem.removeClass("selected-page-idx");
  selectedElem.addClass("unselect-page-idx");
  targetElem.removeClass("unselect-page-idx");
  targetElem.addClass("selected-page-idx");

  onRhListRequestShow(true);
});

$("#prev_page").click(function(e) {
  selectedElem = $("#page-idx").children(".selected-page-idx");
  currPage = parseInt(selectedElem.attr("data-page-index"));
  selectedElem.removeClass("selected-page-idx");
  selectedElem.addClass("unselect-page-idx");
  if (currPage <= 1) {
      return
  }
  currPage = currPage - 1

  str_filter = "[data-page-index=\"" + currPage + "\"]"

  $("#page-idx").children(str_filter).removeClass("unselect-page-idx");
  $("#page-idx").children(str_filter).addClass("selected-page-idx");

  onRhListRequestShow(true);
});
$("#next_page").click(function(e) {
  selectedElem = $("#page-idx").children(".selected-page-idx");
  currPage = parseInt(selectedElem.attr("data-page-index"));
  selectedElem.removeClass("selected-page-idx");
  selectedElem.addClass("unselect-page-idx");
  if (currPage > {{ page_num | safe }}) {
      return
  }
  currPage = currPage + 1
  str_filter = "[data-page-index=\"" + currPage + "\"]"

  $("#page-idx").children(str_filter).removeClass("unselect-page-idx");
  $("#page-idx").children(str_filter).addClass("selected-page-idx");

  onRhListRequestShow(true);
});

function updateAreaTitle() {
  html_privince_selected_seperator = "";
  html_privince_selected = ""
  html_city_selected_seperator = "";
  html_city_selected = ""
  html_area_selected_seperator = "";
  html_area_selected = ""
  if (curr_privince.length > 0) {
    html_privince_selected_seperator = " | ";
    html_privince_selected = curr_privince;
    if (curr_city.length > 0) {
      html_city_selected_seperator = " | ";
      html_city_selected = curr_city;
      if (curr_area.length > 0) {
        html_area_selected_seperator = " | ";
        html_area_selected = curr_area;
      }
    }
  }
  $("#privince_selected_seperator").html(html_privince_selected_seperator)
  $("#privince_selected").html(html_privince_selected)
  $("#city_selected_seperator").html(html_city_selected_seperator)
  $("#city_selected").html(html_city_selected)
  $("#area_selected_seperator").html(html_area_selected_seperator)
  $("#area_selected").html(html_area_selected)
}
function updateCurrCity(update_city_list) {
  updateAreaTitle();
  if (!update_city_list) {
    return;
  }
  
  $.ajax({
    url: "/citylist",
    type: "POST",
    data: {"privince": curr_privince, "city": curr_city},
    success: function (area_list) {
      city_list_html = "";
      $.each(area_list, function(n, area) {
        // city_list_html = city_list_html + "<div>" + n + ": " + area + "</div>";
        if (n % 2 == 0) {
          city_list_html = city_list_html +
          "<div class=\"row city_select_panel\"><div class=\"city_select_panel_2\">"
        }
        city_list_html = city_list_html + "<div class=\"col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center city_unselect_item city_select_item\">"
                          + area + "</div>"
        if (n % 2 == 1) {
          city_list_html = city_list_html + "</div></div> "
        }
      });
      $("#city_list").html(city_list_html);
    }
  });
}

$("#all_coutry").click(function(e) {
  curr_privince = "";
  curr_city = "";
  curr_area = "";
  updateCurrCity(true);
});

// for element adding by ajax
// $(".city_select_item").click(function(e) {
$(document).on("click", ".city_select_item", function() {
  var targetElem = $(this);
  var t = targetElem.text()
  var updateCityList = false;
  if (targetElem.hasClass("privince_level_city")) {
      curr_privince = t;
      curr_city = t;
      curr_area = "";
      update_city_list = true;
  } else if (curr_privince.length == 0) {
      curr_privince = t;
      curr_city = "";
      curr_area = "";
      update_city_list = true;
  } else if (curr_city.length == 0) {
      curr_city = t;
      curr_area = "";
      update_city_list = true;
  } else {
      curr_area = t;
      update_city_list = false;
      $(".city_select_item").removeClass("city_selected_item");
      $(".city_select_item").addClass("city_unselect_item");
      targetElem.removeClass("city_unselect_item");
      targetElem.addClass("city_selected_item");
  }
  updateCurrCity(update_city_list);
});

$(document).on("click", "#privince_selected", function() {
  var targetElem = $(this);
  var t = targetElem.text()
  if (t.length == 0) {
    return;
  }
  curr_privince = t;
  curr_city = "";
  curr_area = "";
 
  updateCurrCity(true);
});

$(document).on("click", "#city_selected", function() {
  var targetElem = $(this);
  var t = targetElem.text()
  if (t.length == 0) {
    return;
  }
  curr_city = t;
  curr_area = "";
 
  updateCurrCity(true);
});

$(document).on("click", "#start_city_select", function() {
  $("#city_select").css("display", "block")

  curr_privince = $("#curr_privince").html();
  curr_city = $("#curr_city").html();
  curr_area = $("#curr_area").html();
 
  updateCurrCity(true);
});

$(document).on("click", "#confirm_city_select", function() {
  $("#city_select").css("display", "none");

  showCurrLocation();
  onRhListRequestShow(false);
});

$(document).on("click", "#reset_city_select", function() {
  curr_privince = "";
  curr_city = "";
  curr_area = "";
  updateCurrCity(true);
});

$(document).on("click", "#return_city_select", function() {
  $("#city_select").css("display", "none");
});

function showCurrLocation() {
  if (curr_area.length > 0) {
    $("#all_privince").css("display", "none");
    $("#curr_privince").css("display", "none");
    $("#curr_city").css("display", "none");
    $("#curr_area").css("display", "inline");
  } else if (curr_city.length > 0) {
    $("#all_privince").css("display", "none");
    $("#curr_privince").css("display", "none");
    $("#curr_city").css("display", "inline");
    $("#curr_area").css("display", "none");
  } else if (curr_privince.length > 0) {
    $("#all_privince").css("display", "none");
    $("#curr_privince").css("display", "inline");
    $("#curr_city").css("display", "none");
    $("#curr_area").css("display", "none");
  } else {
    $("#all_privince").css("display", "inline");
    $("#curr_privince").css("display", "none");
    $("#curr_city").css("display", "none");
    $("#curr_area").css("display", "none");
  }
  $("#curr_privince").html(curr_privince);
  $("#curr_city").html(curr_city);
  $("#curr_area").html(curr_area);

  $("#start_city_select").css('display', 'inline');
}

function initCurrLocation() {
  curr_privince = "{{ curr_privince | safe }}";
  curr_city = "{{ curr_city | safe }}";
  curr_area = "{{ curr_area | safe }}";

  showCurrLocation();
}

initCurrLocation();

var spyObj = new spyObject($("#rh_list_title_bar"), "stick_fixed", $("#rh_list"));
spyObj.init();

// FIXME, delete on mobile website
navigator.geolocation.getCurrentPosition(function (position) {
  var lat = position.coords.latitude;
  var lon = position.coords.longitude;
  var point = new BMap.Point(lon, lat);
//(function() {
  if ('{{ has_located | safe }}' == 'y') {
    return;
  }
  //var point = new BMap.Point(116.331398, 34.897445);

  var myGeo = new BMap.Geocoder();
  myGeo.getLocation(point, function (result) {
    var city = result.addressComponents.city;
    $.ajax({
      url: "/currcity",
      type: "POST",
      data: {"city": city},
      success: function (area_dict) {
        a = $.parseJSON(area_dict)
        ret = confirm("您当前定位是 " + a.privince + a.city + ", 需要将当前位置修改为此定位吗?");
        if (ret == false) {
          return;
        }
        curr_privince = a.privince;
        curr_city = a.city;
        curr_area = "";
        showCurrLocation();
        onRhListRequestShow(false);
      }
    });
  });
});
//})();

});

</script>
</body>
</html>
